*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

body{
    font-family: Helvetica,sans-serif;
}

.clearfix{
    zoom: 1;
}

.cleafix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.exam7{
    margin: 30px auto;
    width: 1200px;
}

.exam7 h2{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    font-weight: 600;
}

.exam7 h2:after{
    background: #339999;
    content: "";
    display: block;
    height: 3px;
    margin: 11px auto 30px;
    position: relative;
    width: 95px;
}

.text-list{
    text-align: center;
    margin-bottom: 40px;
}

.text-list li{
    display: inline-block;
    padding-right: 20px;
}

.text-list li a{
    text-decoration: none;
    color: #5b6d7e;
    font-weight: bold;
}

.text-list li a.active{
    color: #359a9a;
}

.text-list li a:hover{
    color: #359a9a;
}

.img-list{
    padding: 10px;
    margin-left: 30px;
}

.img-list li{
    float: left;
    margin-right: 30px;
    margin-bottom: 22px;
    width: 350px;
}



















