*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

body{
    font-family: Helvetica, 'sans-serif';
    background: rgba(150, 150, 150, 0.11);
}

.clearfix{
    zoom: 1;
}

.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.exam15{
    margin: 30px auto;
    width: 1200px;
}

.exam15 h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}

.exam15 > p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
    color: rgba(91, 109, 126, 0.58);
}

.exam-list li{
    float: left;
    display: inline-block;
    width: 360px;
    min-height: 420px;
    margin-right: 20px;
    margin-left: 20px;
    background: white;
}

.exam-list h2{
    padding: 15px 0 15px 0;
}

.exam-list p{
    line-height: 30px;
    color: rgba(91, 109, 126, 0.58);
}