*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, 'sans-serif';
}

p, a, ul{
    text-decoration: none;
    list-style-type: none;
}

a{
    color: #838383;
}

a:link{
    color: #838383;
}

a:visited{
    color: #838383;
}

.clearfix{
    zoom: 1;
}

.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.exam22{
    margin: 30px auto;
    width: 1200px;
}

.exam22 h1{
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 40px;
}

.exam22 h1:after{
    display: block;
    content: "";
    border-bottom: 4px solid #ffbd49;
    width: 60px;
    height: 10px;
}

#left{
    float: left;
    width: 30%;
    box-sizing: border-box;
}

#right{
    float: right;
    width: 70%;
    box-sizing: border-box;
}

#left h2{
    margin-bottom: 30px;
    font-weight: normal;
}

.exam-list li{
    margin-bottom: 30px;
    padding-left: 40px;
    position: relative;
    color: #838383;
    line-height: 25px;
}

.exam-list i{
    font-size: 25px;
    font-style: normal;
    color: #9b9b9b;
    position: absolute;
    left: 0;
    width: 30px;
}

#right h2{
    font-weight: normal;
    margin-bottom: 30px;
}

#exam-form input[type=text], input[type=email]{
    width: 90%;
    height: 35px;
    margin-bottom: 15px;
    padding-left: 15px;
    font-size: 15px;
}

#exam-form textarea{
    width: 90%;
    height: 120px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

#exam-form button{
    font-size: 13px;
    padding: 10px;
    background: #0cb8b6;
    border: 1px solid #0cb8b6;
    color: white;
    transition: 0.3s all;
}

#exam-form button:hover{
    background: #32d7d5;
    border: 1px solid #32d7d5;
}










