*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

body{
    font-family: Helvetica, 'sans-serif';
}

.exam14{
    margin: 30px auto;
    width: 300px;
    padding-top: 250px;
}

.tag{
    margin-bottom: 20px;
}

.exam-list li{
    display: inline-block;
    margin-right: 15px;
    height: 30px;
    line-height: 30px;
}

.exam-list li a{
    background: #01bacf;
    border: 1px solid #01bacf;
    border-radius: 3px;
    padding: 3px 7px;
    transition: 0.3s all;
}

.exam-list li a:hover{
    background: #7ae209;
    border: 1px solid #7ae209;
}