*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica,'sans-serif';
    background: rgba(236, 236, 236, 0.6);
}

ul{
    list-style: none;
}

#selected{
    color: #88d8f7;
}

li, a{
    text-decoration: none;
    color: black;
}

.navigation ul li a:hover{
    color: #88d8f7;
}

header{
    margin: 30px auto;
    width: 1200px;
}

#homeBtn{
    float: left;
    width: 200px;
    margin-right: 20px;
}

.navigation{
    float: left;
    width: 600px;
}

#login{
    float: right;
}

.navigation ul li{
    display: inline-block;
    margin: 15px auto;
    padding-right: 25px;
}

.navigation ul li:last-child{
    padding-right: 0;
}

.fas{
    color: rgba(110, 113, 119, 0.8);;
}

#login button{
    font-size: 15px;
    padding: 10px;
    border: 2px solid rgba(110, 113, 119, 0.2);
    border-radius: 3px;
    transition: 0.3s all;
}

#login button:hover{
    border: 2px solid rgb(8, 69, 176);
    border-radius: 3px;
}











